@model IEnumerable<ProjectViewModel>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Projects</h1>
            <hr />

            <a class="btn btn-primary" href="@(Url.Action<ProjectsController>(a=>a.AddProject()))">Add new project</a>

            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Project name</th>
                </tr>
                @foreach (ProjectViewModel project in Model)
                {
                    <tr>
                        <td>@project.Id</td>
                        <td>@project.Name</td>
                        <td><a href="@(Url.Action<ProjectsController>(a=>a.EditProject(project.Id)))">Edit</a></td>
                    </tr>
                }
            </table>

            <a class="btn btn-primary" href="@(Url.Action<ProjectsController>(a=>a.AddProject()))">Add new project</a>
        </div>
    </div>
</div>